%tr
  %td= f.input :name, label: false
  %td= f.input :price, label: false
  %td= f.input :change_price, label: false
  %td= link_to 'Настроить цены', court_special_prices_path(court_id: f.object.id) if f.object.persisted?
  %td= link_to_remove_association 'Удалить корт', f