= simple_form_for [:dashboard, @coach] do |f|
  = f.simple_fields_for :coach do |cf|
    = cf.input :name
    = cf.input :price, as: :string
    = cf.association :courts, as: :check_boxes, collection: current_user.stadium.courts
  = f.input :email
  = f.input :password
  - if action_name == 'new'
    = f.input :password_confirmation
  = f.button :submit, 'Сохранить'