= simple_form_for @coach, url: dashboard_coach_path do |f|
  = f.input :avatar, as: :image_file, version: :small_square
  = f.input :name
  = f.input :phone
  = f.input :price, as: :string
  = f.simple_fields_for :profile do |pf|
    = pf.input :description, as: :text

  .form-group
    = link_to fa_icon('edit') + ' Сменить пароль или почту', edit_user_registration_path, class: 'btn btn-default'
  = f.button :submit, 'Сохранить'