= simple_form_for @coach, url: dashboard_coach_path do |f|
  = f.input :avatar, as: :image_file, version: :small_square
  = f.input :name
  = f.input :price, as: :string
  = f.input :email
  .help-block Введите пароль чтобы сохранить изменения
  = f.input :password
  = f.button :submit, 'Сохранить'