= simple_form_for([:admin, @stadium], html: { class: 'stadium'} ) do |f|

  .form-inputs
    = f.input :name
    = f.input :address
    = f.input :phone
    = f.input :description
    = f.association :category
    = f.association :user

  .form-actions
    = f.button :submit, 'Сохранить'