= simple_form_for([:admin, @stadium], html: { class: 'stadium'} ) do |f|

  .form-inputs
    = f.input :name
    = f.input :address
    = f.input :phone
    = f.input :description
    = f.association :category
    = f.association :user, label_method: :name_for_admin
    = f.input :status, collection: [:active, :locked, :pending], default: :active

  .form-actions
    = f.button :submit, 'Сохранить'