= link_to 'Создать Стадион', new_admin_stadium_path, class: 'btn btn-primary'

%table.table.table-stripped
  %tr
    %th Name
    %th Address
    %th Telephone
    %th Category
    %th Владелец
    %th
    %th
    %th

  - @stadiums.reverse_each do |stadium|
    %tr
      %td= stadium.name
      %td= stadium.address
      %td= stadium.phone
      %td= stadium.category.name
      %td= stadium.user.try(:name)
      %td= link_to 'Редактировать', edit_admin_stadium_path(stadium), class: 'btn btn-default btn-xs'
      %td= link_to 'Удалить', [:admin, stadium], :method => :delete, :data => { :confirm => 'Вы уверены?' }, class: 'btn btn-danger btn-xs'


