%div.stadium-panel
  = link_to 'Создать Стадион', new_admin_stadium_path, class: 'btn btn-primary create-stadium'

  %table.table.table-stripped
    %tr
      %th Статус
      %th Название
      %th Адрес
      %th Телефон
      %th Категория
      %th Владелец
      %th Управление

    - @stadiums.each do |stadium|
      %tr{ class: stadium.status }
        %td= t stadium.status, scope: 'statuses' if stadium.status 
        %td= stadium.name || "-"
        %td= stadium.address || "-"
        %td= stadium.phone || "-"
        %td= stadium.category.collect(&:name).join(", ")|| "-"
        %td= stadium.user.try(:name) || "-"
        %td= link_to 'Редактировать', edit_admin_stadium_path(stadium), class: 'btn btn-default btn-xs'
        %td= link_to 'Удалить', [:admin, stadium], :method => :delete, :data => { :confirm => 'Вы уверены?' }, class: 'btn btn-danger btn-xs'
        %td=raw "#{link_to (stadium.courts.size()), admin_stadium_courts_path(stadium.id), class: 'btn btn-success btn-xs'}"
