%dl.dl-horizontal
  %dt
    %strong Имя:
  %dd= @stadium.name
%dl.dl-horizontal
  %dt
    %strong Адрес:
  %dd= @stadium.address
%dl.dl-horizontal
  %dt
    %strong Телефон:
  %dd= @stadium.phone
%dl.dl-horizontal
  %dt
    %strong Описание:
  %dd= @stadium.description
%dl.dl-horizontal
  %dt
    %strong Категория:
  %dd= @stadium.category_id

= link_to 'Редактировать', edit_admin_stadium_path(@stadium), class: 'btn btn-default'
= link_to 'Назад', admin_stadiums_path, class: 'btn btn-default'
