%h1
  Настройка цен корта: #{@court.name}
= link_to 'Создать период', new_dashboard_court_special_price_path, class: 'btn btn-primary'
%table.table
  %thead
    %tr
      %th Начало
      %th Конец
      %th Цена
      %th Скидка
      %th 
      %th 
  %tbody
    - @special_prices.each do |dashboard_special_price|
      %tr
        %td= dashboard_special_price.start
        %td= dashboard_special_price.end
        %td= dashboard_special_price.price
        %td= t(dashboard_special_price.is_sale.to_s)
        %td= link_to 'Редактировать', edit_dashboard_court_special_price_path(@court, dashboard_special_price)
        %td= link_to 'Удалить', dashboard_court_special_price_path(@court, dashboard_special_price), method: :delete, data: { confirm: 'Вы уверены?' }
    - if @special_prices.empty?
      %tr
        %td.text-center{colspan: 7} Пока не создано