.row.top30
  .col-md-4
    .panel.panel-default
      .panel-heading
        %h3.panel-title Бронирование
      .panel-body.woocommerce{"data-checkout" => ""}
        = render "orders/total", price: @record.courts.first.price
    = render 'orders/changes_total'
    - if @record.kind_of?(Stadium) && @record.coaches.any?
      .panel.panel-default
        .panel-heading
          %h3.panel-title Тренеры
        .panel-body
          %ul.list-unstyled
            - @record.coaches.each do |coach|
              %li
                = link_to coach.name, coach
                = ' ' + number_to_integer_currency(coach.price)

  .col-md-8
    = label_tag "Выберите корт"
    = select_tag :court, options_for_select(@record.courts.map {|c| [c.name, c.id, { data: {price: c.price, change_price: c.change_price } } ] }), class: 'form-control'
    %div{"data-grid" => "", "data-source" => stadium_court_events_path(court_id: @stadium.courts.first)}
:javascript
  kendo.culture("ru-RU");
  var grid = new Tennis.Views.ScheduleView({el: '[data-grid]'});
  var changes = new Tennis.Collections.Changes();
  var checkout = new Tennis.Views.CheckoutView({el: '[data-checkout]'});
  var changesView = new Tennis.Views.ChangesView({el: '[data-event-move]', collection: changes});
  grid.render();