%h4 Неоплаченные занятия
= form_for Order.new do |f|
  %table.table.table-striped
    - @events.each do |event|
      %tr
        %td= check_box_tag "event_ids[]", event.id
        %td= event.products.map(&:name).join(', ')
        %td= l event.start, format: :short
        %td= l event.end, format: :short
        %td= number_to_integer_currency event.total
  = f.submit 'Перейти к оплате'