<% breadcrumb :cart, 'Корзина' %>

<div class="body-bg">
  <div class="row">
    <div class="entry">
      <h1><span class="title-tire">–</span> Корзина <span class="title-tire">–</span></h1>
      <hr>
      <div class="row">
      	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 woocommerce">
	      	<table class="table cart">
	      		<thead>
	      			<tr>
	      				<th></th>
	      				<th>Стадион</th>
	      				<th>Начало</th>
	      				<th>Конец</th>
	      				<th>Длительность</th>
	      				<th>Цена</th>
	      			</tr>
	      		</thead>
	      		<tbody>
	      		<% @order.events.each do |item| %>
	      			<tr class="cart-item">
	      				<td></td>
	      				<td><%= link_to item.court.stadium.name, item.court.stadium %></td>
	      				<td><%= item.start %></td>
	      				<td><%= item.end %></td>
	      				<td><%= t('hours', count: item.duration_in_hours) %></td>
	      				<td><%= item.total %></td>
	      			</tr>
	      		<% end %>
	      		</tbody>
	      	</table>
	      	<%= simple_form_for Order.new do |f| %>
	      		<% @order.events.each do |event| %>
		      		<%= hidden_field_tag :start, event.start %>
		      		<%= hidden_field_tag :end, event.end %>
		      		<%= hidden_field_tag :court_id, event.court_id %>
	      		<% end %>
	      		<%= f.button :submit, 'Оплатить из кошелька' %>
	      	<% end %>
      	</div>
      </div>
    </div>
  </div>
</div>