<div id="total" class="woocommerce">
  <% if current_user.nil? %>
    <h4>Для того, чтобы воспользоваться всеми возможностями портала, пожалуйста зарегистрируйтесь, или войдите в свою учетную запись.</h4>
    <%= link_to 'Вход / Регистрация', new_user_session_path, class: 'button add_to_cart_button product_type_simple' %>
  <% else %>
    <h4>В корзине:</h4>
    <p data-total>
      <% if current_user.total_hours(product: @court) %>
        <%= t('hours', count: current_user.total_hours(product: @court)) %> на сумму <%= number_to_currency current_user.total(product: @court), precision: 0 %></p>
      <% end %>
    <% if current_user.event_changes.unpaid.present? %>
      <%= t('changes', count: current_user.events.of_products(@court).flat_map(&:event_changes).count) %> на сумму <%= number_to_currency current_user.changes_total(product: @court), precision: 0 %></p>
    <% end %>
    <%= link_to 'Перейти к оплате', my_events_path(), class: 'button add_to_cart_button  product_type_simple', data: { book: true} %>
  <% end %>
</div>