.row.top15
  .col-xs-4
    = render 'total'
    %h4 Корты
    %ul.nav.nav-pills.nav-stacked
      - @product.courts.each do |cc|
        = active_link_to cc.name, url_for([@product, cc]), active: /courts\/#{cc.to_param}/, wrap_tag: :li
    %h4 Стоимость занятий
    - if @court.special_prices.current.present?
      %ul.list-group
        - @court.special_prices.current.daily_price_rules.each do |rule|
          %li.list-group-item
            = rule.working_days.map{|d| d.present? ? t(:"date.abbr_day_names").at(d.to_i) : nil}.join(', ') + ': '
            = rule.start + ' - ' + rule.stop
            = ' ' + number_to_integer_currency(rule.price)
    - if @court.product_services.any?
      %h4 Дополнительные услуги
      %ul.list-group
        - @court.product_services.each do |p|
          %li.list-group-item
            = number_to_integer_currency p.price
            = p.service.name
            = p.periodic? ? '' : "Разово"

  .col-xs-8
    = render "schedule_legend"
    %div{"data-grid" => true}
    :javascript
      kendo.culture("ru-RU");
      var grid = new Tennis.Views.ScheduleView({el: '[data-grid]', court: #{@court.id}});
      var changes = new Tennis.Collections.Changes();
      //var checkout = new Tennis.Views.CheckoutView({el: '[data-checkout]'});
      //var changesView = new Tennis.Views.ChangesView({el: '[data-event-move]', collection: changes});
      grid.render();