<h4>Стоимость часа: 
  <span data-court-price class="label label-success"><%= number_to_currency price, precision: 0 %></span></h4>
<% if current_user.nil? %>
  <h4>Для того, чтобы воспользоваться всеми возможностями портала, пожалуйста зарегистрируйтесь, или войдите в свою учетную запись.</h4>
  <%= link_to 'Вход / Регистрация', new_user_session_path, class: 'button add_to_cart_button product_type_simple' %>
<% elsif current_user.orders.unpaid %>
  <h4>В корзине:</h4>
  <p data-total>
    <% if current_user.total_hours %>
      <%= t('hours', count: current_user.total_hours) %> на сумму <%= number_to_currency current_user.total, precision: 0 %></p>
    <% end %>
  <%= link_to 'Перейти к оплате', dashboard_wallet_path(), class: 'button add_to_cart_button product_type_simple', data: { book: true} %>
<% end %>