%h3= "Заказ #{@order.guid}"
%table.table.table-hover
  = render @order.events
%table.table.table-hover
  - @order.event_changes.each do |change|
    %tr
      %td= change.event.products.map(&:name).join(', ')
      %td= l change.event.start, format: :short
      %td= l change.event.end, format: :short
      %td= number_to_integer_currency change.total
= link_to "Заплатить #{number_to_integer_currency @order.total} из кошелька", pay_order_path(@order), method: :patch, class: 'btn btn-primary'