%h4 Неоплаченные занятия
= form_for :events, url: bulk_process_my_events_path do |f|
  %table.table.table-hover
    - @events.unpaid.each do |event|
      %tr
        %td= check_box_tag "event_ids[]", event.id
        %td= event.product_names
        %td= l event.start, format: :short
        %td= l event.end, format: :short
        %td= number_to_integer_currency event.total
  = f.button 'Перейти к оплате', value: :pay
  = f.button 'Удалить', value: :destroy
%h4 Оплаченные занятия
%table.table.table-striped
  - @events.paid.each do |event|
    %tr
      %td= event.products.map(&:name).join(', ')
      %td= l event.start, format: :short
      %td= l event.end, format: :short
      %td= number_to_integer_currency event.total