%h3 Заказы
- @orders.each do |order|
  .panel.panel-default
    .panel-heading
      = order.guid
      .pull-right= number_to_currency order.total
      .pull-right= 'Cтатус:' + t(order.status, scope: 'simple_form.options.order.status') + ' '
    .panel-body
      %table.table
        %thead
          %tr
            %th Корт
            %th Начало
            %th Конец
            %th Длительность
            %th Повторяется?
            %th Цена
        %tbody
          - order.events.joins(court: :stadium).where('stadiums.id = ?', current_user.stadium.id).each do |event|
            %tr
              %td= event.court.name
              %td= event.start
              %td= event.end
              %td= event.duration
              %td= t('repeats', count: item.occurrences) + ' ' + (item.schedule.to_s if item.recurring?).to_s
              %td= event.total
    = simple_form_for [:dashboard, order], wrapper: :inline_form, html: { class: 'form-inline' } do |f|
      = f.input :status, collection: [:unpaid, :paid, :change, :rain, :other]
      = f.input :comment
      = f.button :submit, 'Изменить статус'
      .help-block При изменении статуса заказчик будет уведомлен