.body-bg
  .row
    .entry
      %h1
        %span.title-tire –
        Тренер
        %span.title-tire –
      .row
        .col-xs-2
          = image_tag @coach.avatar.small_square.presence || @coach.gravatar_url, class: 'avatar photo pull-left'
        .col-xs-10
          %h3= @coach.name
          - if @coach.phone?
            %h5= fa_icon('phone') + ' ' + @coach.phone
          - if @coach.email?
            %h5= fa_icon('envelope') + ' ' + @coach.email
          %p= truncate(@coach.description, length: 240)
      %hr/
      .row
        .col-md-4
          .panel.panel-default
            .panel-heading
              %h3.panel-title Бронирование
            .panel-body.woocommerce{"data-checkout" => ""}
              %div{ "data-coach-price" => @coach.price }
              = render "orders/total", price: @coach.courts.first.price + @coach.price
        .col-md-8
          = label_tag "Стадион"
          = select_tag :court, options_for_select(@coach.courts.map {|c| ["#{c.stadium.name} - корт: #{c.name}", c.id ] }), class: 'form-control'
          %div{"data-grid" => true, "data-source" => coach_court_events_path(court_id: @coach.courts.first)}
:javascript
  kendo.culture("ru-RU");
  var grid = new Tennis.Views.ScheduleView({el: '[data-grid]'});
  var changes = new Tennis.Collections.Changes();
  var checkout = new Tennis.Views.CheckoutView({el: '[data-checkout]'});
  var changesView = new Tennis.Views.ChangesView({el: '[data-event-move]', collection: changes});
  grid.render();