<% breadcrumb :account %>

<div class="body-bg">
  <div class="row">
    <div class="entry">
      <h1><span class="title-tire">–</span> Личный кабинет <span class="title-tire">–</span></h1>
      <hr>
      <div class="row">
        <div class="col-md-6">
          <div class="authform new_session">
            <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :role => 'form'}) do |f| %>
              <h3>Авторизация</h3>
              <%= devise_error_messages! %>
              <div class="form-group">
                <%= f.label :email %>
                <%= f.email_field :email, :autofocus => true, class: 'form-control' %>
              </div>
              <div class="form-group">
                <%- if devise_mapping.recoverable? %>
                  <%= link_to "Забыли пароль?", new_password_path(resource_name), class: 'right' %>
                <% end -%>
                <%= f.label :password %>
                <%= f.password_field :password, class: 'form-control' %>
              </div>
                <%= f.submit 'Войти', :class => 'button right' %>
                <% if devise_mapping.rememberable? -%>
                  <div class="checkbox" style="width:150px">
                    <label>
                      <%= f.check_box :remember_me %> Запомнить меня
                    </label>
                  </div>
                <% end -%>
            <% end %>
          </div>
        </div>
        <div class="col-md-6">
          <%= render 'devise/registrations/form' %>
        </div>
      </div>
    </div>
  </div>
 </div>

