.body-bg
  .row
    .entry
      %h1
        %span.title-tire –
        = Тренер
        %span.title-tire –
      .row
        .col-xs-12
          = image_tag coach.avatar.small_square.presence || coach.gravatar_url, class: 'avatar photo pull-left', size: '200x200'
          %h3= @coach.name
          %h5= @coach.phone
          %p= @coach.description
      %hr/
      .row
      .col-xs-12.col-sm-12
        = label_tag "Выберите стадион"
        = select_tag :court, options_for_select(@coach.courts.map {|c| ["#{c.stadium.name} - корт: #{c.name}", c.id ] }), class: 'form-control'
        %div{"data-grid" => true, "data-source" => coach_court_events_path(court_id: @coach.courts.first)}
:javascript
  kendo.culture("ru-RU");
  var grid = new Tennis.Views.ScheduleView({el: '[data-grid]'});
  var changes = new Tennis.Collections.Changes();
  var checkout = new Tennis.Views.CheckoutView({el: '[data-checkout]'});
  var changesView = new Tennis.Views.ChangesView({el: '[data-event-move]', collection: changes});
  grid.render();