.body-bg
  .row
    .entry
      %h1
        %span.title-tire –
        = @coach.name
        %span.title-tire –
      %hr/
      .row
      .col-xs-12.col-sm-12
        = label_tag "Выберите стадион"
        = select_tag :court, options_for_select(@coach.courts.map {|c| ["#{c.stadium.name} - корт: #{c.name}", c.id, { data: {source: events_path(court_id: c) } } ] }), class: 'form-control'
        %div{"data-grid" => true, "data-source" => coach_court_coach_events_path(@coach, @coach.courts.first)}
:javascript
  kendo.culture("ru-RU");
  var grid = new Tennis.Views.ScheduleView({el: '[data-grid]'});
  var changes = new Tennis.Collections.Changes();
  var checkout = new Tennis.Views.CheckoutView({el: '[data-checkout]'});
  var changesView = new Tennis.Views.ChangesView({el: '[data-event-move]', collection: changes});
  grid.render();