Заказ #{@order.guid}

%table.table
  %thead
    %tr
      %th Корт
      %th Начало
      %th Конец
      %th Длительность
      %th Повторяется?
      %th Цена
  %tbody
    - @order.events.each do |event|
      %tr
        %td= event.court.name
        %td= event.start
        %td= event.end
        %td= event.duration
        %td= t('repeats', count: event.occurrences) + ' ' + (event.schedule.to_s if event.recurring?).to_s
        %td= event.total

был изменен, статус: #{@order.human_status}, комментарий: #{@order.comment}