%h4 Укажите пожалуйста данные для приема платежей
= simple_form_for :payment_settings do |f|
  = f.input :name, label: 'Название организации'
  = f.input :name, label: 'ФИО Ответственного лица'
  = f.input :name, label: 'Номер счета'
  = f.input :name, label: 'Название банка'
  = f.input :name, label: 'КБК'
  = f.input :name, label: 'КПП'
  = f.input :name, label: 'БИК'
  = f.input :name, label: 'Юр. Адрес'