%h1 Занятие перенесено!

%table
  %thead
    %tr
      %th Стадион
      %th Начало
      %th Конец
      %th Повторяется
  %tbody
    %tr
      %td= @event.court.stadium.name
      %td= l @event.start, format: :short
      %td= l @event.end, format: :short
      %td= t('hours', count: @event.duration_in_hours)



- [:start, :end].each do |attr|
  - list = @event.previous_changes[attr]
  %p
    = Event.human_attribute_name attr
    - if list.first.present?
      = " с #{l list.first, format: :short}"
    - if list.last.present?
      = " на #{l list.last, format: :short}"

