= simple_form_for CoachesCourt.new, url: dashboard_employments_path, wrapper: :inline_form, html: { class: 'form-inline' } do |f|
  = f.association :court, label: 'Корт', collection: Court.all - current_user.coach.courts, label_method: :name_with_stadium
  = f.input :price, label: 'Стоимость часа', as: :decimal
  = f.button :submit, "Привязаться к стадиону"

%h3 Ваши стадионы
%table.table.table-hover
  %thead
    %tr
      %th Название
      %th Корт
      %th Стоимость часа
      %th
  %tbody
    = render collection: @courts, partial: 'court', as: 'court'