= simple_form_for([:admin, @user.becomes(User)], html: { class: 'user'} ) do |f|

  .form-inputs
    = f.input :email
    = f.input :name
    = f.input :type, collection: [%w(Стадион StadiumUser), %w(Тренер Coach), %w(Клиент Customer), %w(Админ Admin)]
    = f.input :password
    = f.input :password_confirmation

  .form-actions
    = f.button :submit, 'Сохранить'