<%= javascript_include_tag '//maps.google.com/maps/api/js?v=3.13&language=ru' %>
<%= javascript_include_tag '//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js' %>
<div id="map-container"><div id="map"></div></div>
<script type="text/javascript">
  var markers = new Tennis.Collections.MarkerCollection(
    <%==@stadiums.map do |s|
          {
            position: {
              lat: s.latitude.to_f,
              lng: s.longitude.to_f
              },
            infowindow: "#{s.name}<br>#{link_to 'Перейти на страницу', s}"
          }
        end.to_json %>
      );
  var map = new Tennis.Views.MapView({collection: markers});
  map.render(); 
</script>

   <!-- Begin searcher -->
<div class="searchonmap">
    <%= form_tag  stadiums_path(format: 'json'), remote: true, method: :get, id: 'searcher' do %> 
      <%= text_field_tag :name, nil, placeholder: 'Ключевое слово...' %>
      <%= text_field_tag :place, nil, placeholder: 'Расположение' %>
      <div class="location-detector"><input type="button" class="location-detector-btn" value=" "></div>
      <%= select_tag :category_id, options_from_collection_for_select(Category.all, 'id', 'name'), class: 'chosen-select', prompt: 'Выбор категории...' %>
      <%= submit_tag  'Подобрать', class: 'submit-btn' %>
    <% end %>
   	   </div>
	<!-- End searcher -->

  <script type="text/javascript">
    var config = {
      '.chosen-select'           : {},
      '.chosen-select-deselect'  : {allow_single_deselect:true},
      '.chosen-select-no-single' : {disable_search_threshold:10},
      '.chosen-select-no-results': {no_results_text:'Oops, nothing found!'},
      '.chosen-select-width'     : {width:"95%"}
    }
    for (var selector in config) {
      $(selector).chosen(config[selector]);
    }
  </script>
