.row
  .product-subheader
    #map.product-map
    .product-image
      .address
        = stadium.address
        %p.tel_field
          %tel
            Тел.: #{stadium.phone}
      = image_tag stadium.pictures.last.try(:name)
    :javascript
      var markers = new Tennis.Collections.MarkerCollection([#{raw stadium.to_json}]);
      var map = new Tennis.Views.MapView({collection: markers});
      map.render();
  .col-xs-12.col-sm-12.col-md-12.col-lg-12
    %p
      = stadium.description