<% breadcrumb :stadium, @stadium %>

<div class="body-bg">
  <div class="row">
    <div class="entry">
      <h1><span class="title-tire">–</span> <%= @stadium.name %> <span class="title-tire">–</span></h1>
      <hr>
      <div class="row">
	      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div role="tabpanel">
					  <!-- Nav tabs -->
					  <ul class="nav nav-tabs nav-justified" role="tablist">
					    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Описание</a></li>
					    <li role="presentation"><a href="#grid" aria-controls="grid" role="tab" data-toggle="tab">Расписание</a></li>
					    <li role="presentation"><a href="#photos" aria-controls="photos" role="tab" data-toggle="tab">Галерея</a></li>
					    <li role="presentation"><a href="#reviews" aria-controls="reviews" role="tab" data-toggle="tab">Отзывы</a></li>
					  </ul>

					  <!-- Tab panes -->
					  <div class="tab-content">
					    <div role="tabpanel" class="tab-pane active" id="home">
					    	<div class="row top30">
					    	  <div class="col-md-8">
					    	    <%= javascript_include_tag '//maps.google.com/maps/api/js?v=3.13&amp;sensor=false' %>
					    	    <%= javascript_include_tag '//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js' %>
					    	    <div id="map" style="height: 400px;"></div>
					    	    <script type="text/javascript">
					    	      var markers = new Tennis.Collections.MarkerCollection([<%== @stadium.to_json %>]);
					    	      var map = new Tennis.Views.MapView({collection: markers});
					    	      map.render();
					    	    </script>
					    	  </div>
					    	  <div class="col-md-4">
					    	  </div>
					    	</div>
					    	<div class="row">
					    		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					    			<p>
					    				<%= @stadium.description %>
					    			</p>
					    		</div>
					    	</div>
					    </div>
					    <div role="tabpanel" class="tab-pane" id="grid">
					    	<div class="row top30">
					    		<div class="col-xs-12 col-sm-12">
							    	<div data-grid data-source="<%= events_path(court_id: @stadium.courts.first.id) %>"></div>
							    	
					    		</div>
				    		</div>
				    		<div class="row top30">
					    		<div class="col-xs-12 col-sm-6">
						    		<div class="panel panel-default">
				    				  <div class="panel-heading">
				    						<h3 class="panel-title">Бронирование</h3>
				    				  </div>
				    				  <div class="panel-body woocommerce" data-checkout>
				    				  	<%= simple_form_for :order, url: new_order_path, method: :get do |f|%>
					    				  	<%= label_tag "Выберите корт" %>
							    				<%= select_tag :court, options_for_select(@stadium.courts.map {|c| [c.name, c.id, { data: {source: events_path(court_id: c), price: c.price, change_price: c.change_price } } ] }), class: 'form-control' %>
				    				  		<%= hidden_field_tag :start %>
				    				  		<%= hidden_field_tag :end %>
							    				<p data-time></p>
							    				<h3 data-total></h3>
							    				<%= f.button :submit, 'Забронировать', class: 'button add_to_cart_button product_type_simple', disabled: 'disabled', data: { book: true} %>
							    				<% end %>
				    				  </div>
				    				  <script type="text/javascript">
								    	var grid = new Tennis.Views.ScheduleView({el: '[data-grid]'});
								    	var changes = new Tennis.Collections.Changes();
								    	var checkout = new Tennis.Views.CheckoutView({el: '[data-checkout]'});
								    	var changesView = new Tennis.Views.ChangesView({el: '[data-event-move]', collection: changes});
								    	grid.render();
							    	</script>
					    			</div>
				    			</div>
				    			<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
					    			<div class="panel panel-default" data-event-move>
				    				  <div class="panel-heading">
				    						<h3 class="panel-title">Перенос</h3>
				    				  </div>
				    				  <div class="panel-body woocommerce">
			    				  		<ul data-changes-list></ul>
				    				  	<h3 data-total></h3>
						    				<%= link_to 'Сохранить', '#', class: 'button add_to_cart_button hidden', data: { move: true } %>
				    				  </div>
					    			</div>
					    			</div>
					    		</div>
					    	</div>
					    <div role="tabpanel" class="tab-pane" id="photos">
					    </div>
					    <div role="tabpanel" class="tab-pane" id="reviews">...</div>
					  </div>

					</div>
			  </div>
      </div>
    </div>
  </div>
</div>