= simple_form_for @stadium, url: dashboard_stadium_path do |f|
  .row.top15
    .col-xs-12
      .btn-toolbar
        = link_to fa_icon('camera-retro') + ' Загрузить фото', dashboard_stadium_pictures_path, class: 'btn btn-default'
    .col-md-6
      = f.association :category
      = f.input :name
      = f.input :address
      = f.input :latitude, as: :hidden
      = f.input :longitude, as: :hidden
      = f.input :phone
      = f.input :description
    .col-md-6
      %label Выберите месторасположение:
      #map{:style => "height: 400px;"}
      :javascript
        var map = new Tennis.Views.DraggableMapView({latLng: {lat: #{@stadium.latitude || 55.75}, lng: #{@stadium.longitude || 37.61}}});
        map.render();
  .row
    .col-xs-12
      %h4 Корты
      = link_to_add_association 'Добавить площадку', f, :courts, class: 'btn btn-primary', 'data-association-insertion-node' => 'tbody', 'data-association-insertion-method' => 'append'
      %table.table
        %thead
          %tr
            %th Название
            %th Стоимость часа
            %th Стоимость переноса
            %th
        %tbody
          = f.simple_fields_for :courts, @stadium.courts.any? && @stadium.courts || @stadium.courts.new do |court|
            = render "court_fields", f: court
      = f.button :submit