<% if user_signed_in? %>
  <li><%= link_to dashboard_events_path(@user) do %>
    Личный кабинет
    <div class="delimiter">
      <%= image_tag 'menu-separ.png' %>
    </div>
    <% end %>
  </li>
  <li><%= link_to 'Корзина', orders_path %></li>
  <li><%= link_to 'Выход', destroy_user_session_path, :method=>'delete' %></li>
<% else %>
  <li><%= link_to 'Вход / Регистрация', new_user_session_path %></li>
<% end %>