- content_for :sub_layout do
  .body-bg
    .row
      .entry
        %h1
          %span.title-tire –
          Тренер
          %span.title-tire –
        .row
          .col-xs-2
            = image_tag @coach.avatar.small_square.presence || 'placeholder.png', class: 'avatar photo pull-left'
          .col-xs-10
            %h3= @coach.name
            - if @coach.phone?
              %h5= fa_icon('phone') + ' ' + @coach.phone
            - if @coach.email?
              %h5= fa_icon('envelope') + ' ' + @coach.email
            %p= truncate(@coach.description, length: 240)
        %hr/
        .row
          .col-xs-12.col-sm-12.col-md-12.col-lg-12
            = content_for?(:super_sub_layout) ? yield(:super_sub_layout) : yield
= render template: 'layouts/application'