- content_for :sub_layout do
  .body-bg
    .row
      .entry
        %h1
          %span.title-tire –
          = @stadium.name
          %span.title-tire –
        %hr/
        .row
          .col-xs-12.col-sm-12.col-md-12.col-lg-12
            %ul.nav.nav-pills.nav-justified
              = active_link_to "Описание", @stadium, wrap_tag: :li, active: :exclusive
              = active_link_to "Расписание", stadium_events_path(@stadium), wrap_tag: :li, active: :exclusive
              = active_link_to "Галерея", stadium_pictures_path(@stadium), wrap_tag: :li, active: :exclusive
              = active_link_to "Отзывы", stadium_reviews_path(@stadium), wrap_tag: :li, active: :exclusive
            = yield
= render template: 'layouts/application'